
*{
  font-family: Poppins;
}


.header {
  height: 7rem;
  border-bottom: 1px solid rgb(231, 230, 230);
}

.header > a >img {
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.intro > h1{
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem;
}


.intro > p{
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2rem;
}

.funds{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 4rem;
}

.funds >p{
  margin-top: 1px;
}

.buttons{
  display: flex;
  margin: 0 auto;
}
.buttons >div > a> button{
  border: none;
  background-color: #005ad6;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  margin: 4px 2px;
  width: 15rem;
  border-radius: 5rem;
}

.button1{
  width: 20%;
  margin-left: 35%;
}

.body > strong>p{
  font-size: 1.4rem;
  text-align: center;
  margin-top: 3rem;
}